body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
  padding: 20px;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* 5 cards per row */
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .character-grid {
    grid-template-columns: repeat(4, 1fr);  /* 4 cards per row */
  }
}

@media (max-width: 768px) {
  .character-grid {
    grid-template-columns: repeat(3, 1fr);  /* 3 cards per row */
  }
}

@media (max-width: 480px) {
  .character-grid {
    grid-template-columns: repeat(2, 1fr);  /* 2 cards per row */
  }
}


.character-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.character-card img {
  border-radius: 8px;
  width: 100%;
}
